/* .home {
    text-align:center;
    margin-left: 100px;
} */


.button {
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 20px;
    background-color: lightpink;
    color: white;
    /* margin-right: 20px;
    margin-bottom: 20px; */
    width: 30%;
}

/* .btn-group{
    height:50px;
    width: 800px;
    display: flex;
    flex-wrap:wrap;
    margin-left: 200px;
    margin-top: 30px;
}

.btn-group button:hover {
    background-color:lightsteelblue
}

.summary {
    margin-bottom: 250px; 
}  */