.home {
    text-align:center;
    margin-left: 100px;
}

.button {
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 20px;
    background-color: lightcoral;
    color: white;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 40%;
}

.btn-group{
    height:50px;
    width: 800px;
    display: flex;
    flex-wrap:wrap;
    margin-left: 200px;
    margin-top: 30px;
}

.btn-group button:hover {
    background-color:lightsteelblue
}