.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.box {
    margin-right: 75px;
    margin-top: 20px;
}

.header {
margin-left: 500px;
}

.summary {
    margin-right: 250px;
}