.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* justify-content: space-evenly; */
}

.box {
    margin-right: 50px;
}

.header {
margin-left: 500px;
}

.summary {
    margin-right: 250px;
}
/* .button {
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 20px;
    background-color: lightpink;
    color: white;
    width: 30%;
}

button:hover {
    background-color:lightsteelblue
} */
